

body{
 
  background-image: url("https://i.ibb.co/RHpHYxH/background-image2.jpg"  );
   width: 100%; 
 height: 100%;  
 background-repeat: no-repeat; 
 background-size:cover; 
 display: flex; 
margin: 0;
   

}
.questionPicker {
    pointer-events: none;
}

#questionButton{
    position: absolute;
  left: 0px;
  width: 300px;
   /* border: 3px solid #73AD21;  */
  padding: 10px;
  margin-top: 400px;
  margin-right: 300px;
}

#questionPicker{
    color: rgb(216, 216, 19);
    border: 4px solid yellow;
    border-radius:10px;
    padding: 5px 5px;
    font-size: 15px;
    font-family: tahoma;
    letter-spacing:1px;
    cursor: pointer;
    font-weight: bold;
    
    width: 100px;
  }
  
  #questionPicker:hover {
    color: black;
    background-color: #dae80d;
    
  }


#resetButton{
    position: absolute;
  left: 0px;
  width: 300px;
  
  padding: 10px;
  margin-top: 600px;
}

#reset{
    color:  rgb(216, 216, 19);
    border: 4px solid yellow;
    border-radius:10px;
    padding: 5px 5px;
    font-size: 15px;
    font-family: tahoma;
    letter-spacing:1px;
    cursor: pointer;
    font-weight: bold;
    
    width: 100px;
  }
  
  #reset:hover {
    color: black;
    background-color: #dae80d;
   
  }

#displayQuestion{

    font-size: 35px;
    color: rgb(240, 23, 153);
    text-align: center;
   
    
  }
  
  

  #ScoreCounter{
    font-size: 20px;
    color:  rgb(240, 23, 153);
    text-align: center;
    
    position:absolute;
   top:5;
   right:100px;
  
  }

 

  
  

  #Questions{
    display: flex;
    
    margin-top:-820px;
    margin-left: 150px;
    height: 100px;
    /* border: 3px solid green; */
    padding: 5px;
    align-self: center; 
     position: relative;
    width: 500px;
    
    
  }




.letters{
    
    margin-top:200px;
    margin-left: -450px;
    width: 800px;
    /* border: 3px solid #73AD21; */
    padding: 5px;
    
   
}

.letterBox{
    width: 55px;
    height: 55px;
    display:inline-flex;
    position:relative;
    font-size: 30px;
    margin: 0;
    
    
    cursor: pointer;
    color: #db3eb1;
    border: 6px solid #db3eb1;
    border-radius:15px;
    padding: 1px 1px; 
    font-family: tahoma;
    
    font-weight: bold;
    
    pointer-events:none;
    

    
}

.letterBox2{

    width: 55px;
    height: 55px;
    display: inline-flex;
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 55px;
    margin-right: 10px;
    cursor: pointer;
    color: #db3eb1;
    border: 6px solid #db3eb1;
    border-radius:15px;
    padding: 1px 1px; 
    font-family: tahoma;
    transition: .5s;
    font-weight: bold;
    /* filter: drop-shadow(0 0 10px #960371) drop-shadow(0 0 100px #db3eb1) contrast(2) brightness(2); */
    pointer-events: auto;

    
}

.letterBox2.clicked{

    background-color: rgba(236, 169, 245, 0.2);
    pointer-events: none;
    color:black

    
}

.AnswerBox{

    width: 55px;
    height: 55px;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 55px;
    margin-right: 5px;
    cursor: pointer;
    color: #253ded;;
    border: 6px solid #253ded;
    border-radius:15px;
    padding: 1px 1px; 
    font-family: tahoma;
    transition: .5s;
    font-weight: bold;
    
    background-color: #253ded;
    text-transform: capitalize;
}

.AnswerPicked{
  /* border: #73AD21; */
   display: flex; 
  height: 200px;
  margin-top: 590px;
  margin-left: -700px;
  padding: 5px;
  width: 500px;
}

.ClickedCorrectly{
    
    width: 55px;
    height: 55px;
    display: inline-block;
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 55px;
    margin-right: 10px;
    cursor: pointer;
    color: #db3eb1;
    border: 6px solid #253ded;
    border-radius:15px;
    padding: 1px 1px; 
    font-family: tahoma;
    transition: .5s;
    font-weight: bold;
    
    text-align: center;


  
    
    
}